# Expresiones

| **Tipo de Expresión** | **Operador** | **Ejemplo**       |
|-----------------------|--------------|-------------------|
| Addition              | `+`          | `2 + 3 = 5`       |
| Subtraction           | `-`          | `2 - 3 = -1`      |
| Multiplication        | `*`          | `2 * 3 = 6`       |
| Division              | `/`          | `7 / 3 = 2.66667` |
| Remainder (Modulo)    | `%`          | `7 % 3 = 1`       |
| Exponentiation        | `**`         | `2 ** 0.5 = 1.41421` |

In [106]:
2 + 3

5

In [107]:
2 - 3

-1

In [108]:
2*3

6

In [109]:
7/3

2.3333333333333335

In [110]:
7%3

1

In [111]:
2**10

1024

In [112]:
# Esto es un comentario

In [113]:
"hola mundo"

'hola mundo'

El orden de las operaciones importa en python
- Primero se raliza la multiplicación y división, despues las sumas y restas

In [114]:
2 + 3 * 4 / 2 - 1

7.0

In [115]:
5 + 3 * 2 / 2 - 1

7.0

In [116]:
(5 + 3) * (2 / (2 - 1))

16.0

# Nombres de variables

In [117]:
x = 4

In [118]:
x

4

In [119]:
print(x)

4

In [120]:
z

10

In [121]:
z = 10

In [122]:
x*Z

NameError: name 'Z' is not defined

In [123]:
x*z

40

In [124]:
total = x + z
total

14

In [125]:
precio_metro = 3.210
precio_metro

3.21

In [126]:
precio_metro = 3,210
precio_metro

(3, 210)

In [127]:
precio_metro = 3210
precio_metro

3210

In [128]:
precio_metro = 3210
precio_metro_semana_dos_viajes = 2 * 5 * precio_metro 
precio_metro_mes = precio_metro_semana_dos_viajes*4
precio_metro_mes

128400

# Funciones y llamado de expresiones

In [24]:
abs(-10)

10

In [25]:
g = -9.8
abs(g)

9.8

In [26]:
Temperature6am = 23
Temperature12m = 28

In [27]:
Temperature6am-Temperature12m

-5

In [28]:
abs(Temperature6am-Temperature12m)

5

In [29]:
min(10, 100)

10

In [30]:
max(10, 100)

100

In [31]:
round(3.14)

3

In [32]:
round(3.5)

4

In [33]:
import math

In [34]:
math.sqrt(10)

3.1622776601683795

In [35]:
round(math.sqrt(10))

3

In [36]:
y = math.sqrt(10)

In [37]:
math.sqrt(y)

1.7782794100389228

In [38]:
1 + 2 * (3 * 4 * 5 / 6) ** 3 + 7 + 8 - 9 + 10

2017.0

# Exponentes

In [45]:
2**(1/2)

1.4142135623730951

In [46]:
2E5

200000.0

In [47]:
2**5

32

# Código escrito correctamenta

In [1]:
N = 1000   # El número de lineas en un programa.
p = 0.9993 # Probabilidad de que cada linea este correcta 
P = p ** N # Probabilidad total, p1*p2*p3*p4*p5...pN, estadísticamente independientes.

print("La probabilidad de que el codigo este mal escrito es de: {0:.3f}".format(P))

La probabilidad de que el codigo este mal escrito es de: 0.496

# Problema de repaso
Pamela desea calcular cuánto dinero gasta en un año considerando tres tipos de gastos 
diarios: **café**, **pasajes de transporte** (ida y vuelta) y **almuerzo**.



1. Asigna a las  variable `cafe_diario`, `pasajes_diario` y `comida_diaria` el costo diario de cada uno de los tres gastos.
2. Usa una variable para representar cuántos días por semana Pamela incurre en estos gastos.
3. Usa otra variable para indicar cuántas semanas al año mantiene esta rutina.
4. Calcula el gasto **semanal** y luego el gasto **anual** por cada tipo de gasto.
5. Finalmente, calcula el gasto **total anual** sumando todos los conceptos.





``` python
# Costos diarios (en pesos colombianos)
cafe_diario = 1000
pasajes_diario = 6000
comida_diaria = 10000

# Días a la semana que incurre en los gastos
dias_por_semana = 5
# Semanas al año que mantiene la rutina
semanas_por_ano = 52
```

In [99]:
"Escriba su solucion en esta celda...."

'Escriba su solucion en esta celda....'

# Introducción a las tablas

En esta sección comenzaremos con una introducción a las tablas de datos, luego definiremos los diferentes tipos de variables y exploraremos algunas operaciones básicas que se pueden realizar sobre ellas. Finalmente, abordaremos los operadores de comparación entre variables, los cuales pueden extenderse y aplicarse directamente sobre tablas.


Funciones básicas

| **Método**                                  | **Descripción**                                                                 |
|---------------------------------------------|---------------------------------------------------------------------------------|
| `Table.read_table(file_path)`               | Lee un archivo CSV y devuelve una tabla.                                        |
| `table.show(n)`                             | Muestra las primeras `n` filas de la tabla.                                     |
| `table.with_columns(column1, values1, ...)` | Agrega una o más columnas nuevas a la tabla.                                    |
| `table.column(column_name)`                 | Devuelve los valores de una columna como un array de Numpy.                     |
| `table.num_columns()`                       | Devuelve el número de columnas en la tabla.                                     |
| `table.num_rows()`                          | Devuelve el número de filas en la tabla.                                        |
| `table.select(column_name1, column_name2)`  | Selecciona y devuelve una tabla con solo las columnas indicadas.                |
| `table.drop(column_name1, column_name2)`    | Elimina las columnas especificadas y devuelve una tabla nueva.                  |
| `table.where(column_name, predicate)`       | Filtra las filas según una condición en una columna específica.                 |
| `table.sort(column_name, descending=False)` | Ordena la tabla por una columna en orden ascendente o descendente.              |


<!-- 
| **Método**                                  | **Descripción**                                                                 |
|---------------------------------------------|---------------------------------------------------------------------------------|
| `table.group(column_name, func=sum)`        | Agrupa las filas por una columna, aplicando una función (por defecto, suma).    |
| `table.join(column_name_in_self, ...)`      | Une dos tablas en base a una columna común.                                     |
| `table.apply(function, column_name)`        | Aplica una función a todos los valores de una columna.                          |
| `table.pivot(column_name_for_values, ...)`  | Crea una tabla pivote en base a dos columnas.                                   |
| `table.scatter(column_for_x, column_for_y)` | Crea un gráfico de dispersión entre dos columnas.                               |
| `table.barh(column_for_categories, ...)`    | Crea un gráfico de barras horizontal.                                           |
| `table.hist(column_name)`                   | Crea un histograma de una columna.                                              |
| `table.plot(column_for_x, column_for_y)`    | Crea un gráfico de líneas entre dos columnas.                                   |
 -->

In [100]:
Table().with_columns("Fruta", ["Manzana"], "Color", ["Rojo"]  )

Fruta   | Color
Manzana | Rojo

In [101]:
from datascience import *
Table().with_columns("Fruta", ["Manzana"], "Color", ["Rojo"]  )

Fruta   | Color
Manzana | Rojo

Crear una tabla mas complejas con mas caracterististicas e incluir su valor...

In [102]:

tabla_frutas = Table().with_columns(
    'Fruta', ['Manzana', 'Banana', 'Naranja', 'Fresa', 'Uva', 'Piña', 'Mango', 'Kiwi', 'Melón', 'Cereza'],
    'Color', ['Rojo', 'Amarillo', 'Naranja', 'Rojo', 'Morado', 'Amarillo', 'Naranja', 'Verde', 'Verde', 'Rojo'],
    'Sabor', ['Dulce y ligeramente ácido', 'Dulce', 'Ácido y jugoso', 'Dulce y ligeramente ácido', 'Dulce', 'Ácido y tropical', 'Dulce y tropical', 'Ácido y fresco', 'Dulce y suave', 'Dulce'],
    "Precio",[2000, 400, 1000, 600 , 400, 6000, 3000, 3000, 7000, 3000]
)

In [103]:
tabla_frutas

Fruta   | Color    | Sabor                     | Precio
Manzana | Rojo     | Dulce y ligeramente ácido | 2000
Banana  | Amarillo | Dulce                     | 400
Naranja | Naranja  | Ácido y jugoso            | 1000
Fresa   | Rojo     | Dulce y ligeramente ácido | 600
Uva     | Morado   | Dulce                     | 400
Piña    | Amarillo | Ácido y tropical          | 6000
Mango   | Naranja  | Dulce y tropical          | 3000
Kiwi    | Verde    | Ácido y fresco            | 3000
Melón   | Verde    | Dulce y suave             | 7000
Cereza  | Rojo     | Dulce                     | 3000

In [104]:
tabla_frutas.show(3)

In [105]:
tabla_frutas.select("Fruta")

Fruta
Manzana
Banana
Naranja
Fresa
Uva
Piña
Mango
Kiwi
Melón
Cereza

In [106]:
tabla_frutas.drop("Sabor")

Fruta   | Color    | Precio
Manzana | Rojo     | 2000
Banana  | Amarillo | 400
Naranja | Naranja  | 1000
Fresa   | Rojo     | 600
Uva     | Morado   | 400
Piña    | Amarillo | 6000
Mango   | Naranja  | 3000
Kiwi    | Verde    | 3000
Melón   | Verde    | 7000
Cereza  | Rojo     | 3000

In [107]:
frutas_nosabor = tabla_frutas.drop("Sabor")

In [108]:
frutas_nosabor

Fruta   | Color    | Precio
Manzana | Rojo     | 2000
Banana  | Amarillo | 400
Naranja | Naranja  | 1000
Fresa   | Rojo     | 600
Uva     | Morado   | 400
Piña    | Amarillo | 6000
Mango   | Naranja  | 3000
Kiwi    | Verde    | 3000
Melón   | Verde    | 7000
Cereza  | Rojo     | 3000

In [109]:
tabla_frutas.sort("Precio")

Fruta   | Color    | Sabor                     | Precio
Banana  | Amarillo | Dulce                     | 400
Uva     | Morado   | Dulce                     | 400
Fresa   | Rojo     | Dulce y ligeramente ácido | 600
Naranja | Naranja  | Ácido y jugoso            | 1000
Manzana | Rojo     | Dulce y ligeramente ácido | 2000
Mango   | Naranja  | Dulce y tropical          | 3000
Kiwi    | Verde    | Ácido y fresco            | 3000
Cereza  | Rojo     | Dulce                     | 3000
Piña    | Amarillo | Ácido y tropical          | 6000
Melón   | Verde    | Dulce y suave             | 7000

In [110]:
tabla_frutas.sort("Precio", descending=True)

Fruta   | Color    | Sabor                     | Precio
Melón   | Verde    | Dulce y suave             | 7000
Piña    | Amarillo | Ácido y tropical          | 6000
Mango   | Naranja  | Dulce y tropical          | 3000
Kiwi    | Verde    | Ácido y fresco            | 3000
Cereza  | Rojo     | Dulce                     | 3000
Manzana | Rojo     | Dulce y ligeramente ácido | 2000
Naranja | Naranja  | Ácido y jugoso            | 1000
Fresa   | Rojo     | Dulce y ligeramente ácido | 600
Banana  | Amarillo | Dulce                     | 400
Uva     | Morado   | Dulce                     | 400

In [111]:
tabla_frutas.where("Color", "Amarillo")

Fruta  | Color    | Sabor            | Precio
Banana | Amarillo | Dulce            | 400
Piña   | Amarillo | Ácido y tropical | 6000

In [112]:
tabla_frutas.take(5)

Fruta | Color    | Sabor            | Precio
Piña  | Amarillo | Ácido y tropical | 6000

In [113]:
tabla_frutas.take(range(-3, 0))

Fruta  | Color | Sabor          | Precio
Kiwi   | Verde | Ácido y fresco | 3000
Melón  | Verde | Dulce y suave  | 7000
Cereza | Rojo  | Dulce          | 3000

# Más manejo de tablas
La siguiente tabla muestra los tamaños de animales de diferentes especies  tomadas y adaptada de [kaggle](https://www.kaggle.com/datasets/iamsouravbanerjee/animal-information-dataset/data)

In [114]:
tabla_animales = Table.read_table('Animales.csv')
tabla_animales = tabla_animales.drop("Unnamed: 0")

1. Muestra los 10 primeros valores de la tabla

2. Selecciona las columnas "Animal" y "Velocidad Promedio (km/h)"

3. Determina el animal que tiene mayor peso

In [115]:
tabla_animales.show(10)

In [116]:
tabla_animales.select("Animal","Altura (cm)")

Animal                     | Altura (cm)
Cerdo Hormiguero           | 117.5
Lobo Terrícola             | 45
Elefante Africano          | 290
León Africano              | 95
Perro Salvaje Africano     | 77.5
Íbice Alpino               | 84
Rana de la Selva Amazónica | 7.5
Bisonte Americano          | 169
Oso Hormiguero             | 71.5
Caballo Árabe              | 150
... (168 rows omitted)

In [117]:
tabla_animales.sort("Altura (cm)")

Animal                     | Altura (cm) | Peso (kg) | Velocidad Promedio (km/h)
Rana Venenosa Dorada       | 4.5         | 2         | 0.3
Rana de Cristal            | 4.95        | 0         | 0.8
Pulpo Gigante del Pacífico | 5           | 25        | 24
Rana de la Selva Amazónica | 7.5         | 0         | 0.55
Pez Payaso                 | 8.5         | 175       | 8
Rata Topo Desnuda          | 9           | 80        | 0.055
Murciélago Vampiro         | 9           | 0         | 32
Colibrí                    | 10.25       | 11        | 60
Rata Canguro               | 11          | 0.0925    | 16
Ornitorrinco               | 12.5        | 1.55      | 5
... (168 rows omitted)

In [118]:
tabla_animales.sort("Altura (cm)", descending=True)

Animal             | Altura (cm) | Peso (kg) | Velocidad Promedio (km/h)
Morsa              | 3200        | 1200      | 40
Cachalote          | 2056        | 57000     | 60
Rinoceronte Blanco | 1850        | 2150      | 45
Tiburón Ballena    | 1800        | 1500      | 70
Ballena Jorobada   | 1700        | 30000     | 25.5
Titanoboa          | 1440        | 24950     | 27
Tiburón Peregrino  | 1100        | 550       | 21
Tiburón Blanco     | 670         | 2268      | 56
Tiburón Blanco     | 610         | 2268      | 56
Gavial             | 600         | 1500      | 32
... (168 rows omitted)

In [119]:
tabla_animales.show(20)

In [120]:
tabla_animales.select("Animal", "Velocidad Promedio (km/h)").sort("Velocidad Promedio (km/h)", descending=True)

Animal                   | Velocidad Promedio (km/h)
Águila Calva             | 120
Guepardo                 | 112
Berrendo                 | 88.5
Búho Nival               | 80
Lince Ibérico            | 75
Camarón Mantis Pavo Real | 72
Tiburón Ballena          | 70
Caballo Árabe            | 65
Tigre de Bengala         | 65
Perro Bóxer              | 64
... (168 rows omitted)

# Actividad de clase:


Usaremos el dataset `arboles_udea.csv` para practicar operaciones básicas de exploración y filtrado.



1. Lectura y limpieza inicial

- ¿Cómo puedo cargar el archivo `arboles_udea.csv` en una tabla?  
- ¿Qué hago con columnas innecesarias como `"Unnamed: 0"` para limpiar mi dataset?  



2. Ordenamiento y exploración

- ¿Cómo identifico los árboles más altos ordenando por la columna `"ALTURA TOTAL"` en orden descendente?  
- ¿Qué árboles aparecen en las primeras filas después de ordenar?  



3. Filtrado específico

- ¿Cómo selecciono solo las filas en las que el `"Nombre común"` es exactamente `"Mango"`?  
- ¿Cómo selecciono todas las filas en las que el `"Nombre común"` **contiene** la palabra `"Mango"` ?  



4. Exploración de columnas

- ¿Cómo puedo ver únicamente la columna `"Nombre común"` de la tabla?  
- ¿Cómo extraigo la columna `"Nombre común"` como un array de valores para manipularla directamente?  



5. Valores únicos

- ¿Cómo obtengo el conjunto de nombres comunes únicos presentes en el dataset (sin repeticiones)?  
- ¿Cuántos tipos de árboles distintos aparecen en la columna `"Nombre común"`? : set(table.column(`"Nombre común"))

# Tipos de variables:

`int`, `float`, `string`

## Enteros (int)

In [121]:
2

2

In [122]:
1

1

In [123]:
-1234567890000000000

-1234567890000000000

# Flotantes (float)

In [124]:
1.2

1.2

In [125]:
5.6

5.6

In [126]:
print(type(3))
print(type(1/2))

<class 'int'>
<class 'float'>

In [127]:
x=2
for i in range(0, )

SyntaxError: expected ':' (1618011798.py, line 2)

# Presición de la máquina

In [128]:
eps = 1
Nv =  54
for n in range(Nv):
    eps = eps / 2.0
    one = 1. + eps
    if(n>50):
        print(n, one, eps)

51 1.0000000000000002 2.220446049250313e-16
52 1.0 1.1102230246251565e-16
53 1.0 5.551115123125783e-17

# Valor máximo

In [129]:
2e306 * 10

2e+307

In [130]:
2e306 * 100

inf

# Valor mínimo

In [131]:
2e-322 / 10

2e-323

In [132]:
2e-322 / 100

0.0

# String

In [133]:
"hola" + "mundo"

'holamundo'

In [134]:
"Ciencia" + "de" + "datos"

'Cienciadedatos'

In [135]:
"Ciencia" + " " + "de" + " " + "datos"

'Ciencia de datos'

In [136]:
" \" y cuando desperto, el dinosaurio todavia estaba alli\" "

' " y cuando desperto, el dinosaurio todavia estaba alli" '

In [137]:
" En la clase de fisica obtuve  un nota de "+str( (5+4)/2 )+" "

' En la clase de fisica obtuve  un nota de 4.5 '

In [138]:
nombre = "Camila"
apellido = " Rua"
nombre+apellido

'Camila Rua'

In [139]:
nombre[0]

'C'

# Métodos asociados a string

In [140]:
palabra= "y cuando desperto, el dinosaurio todavia estaba alli"

In [141]:
palabra.upper()

'Y CUANDO DESPERTO, EL DINOSAURIO TODAVIA ESTABA ALLI'

In [142]:
palabra.capitalize()

'Y cuando desperto, el dinosaurio todavia estaba alli'

In [143]:
palabra.lower()

'y cuando desperto, el dinosaurio todavia estaba alli'

# Comparaciones


# Operadores en Python

| Operador      | Descripción                                             | Ejemplo                       |
| ------------- | ------------------------------------------------------- | ----------------------------- |
| `==`          | Igual a: Compara si dos valores son iguales             | `5 == 5` (True)               |
| `!=`          | No igual a: Compara si dos valores no son iguales       | `5 != 3` (True)               |
| `>`           | Mayor que: Compara si el valor de la izquierda es mayor | `5 > 3` (True)                |
| `<`           | Menor que: Compara si el valor de la izquierda es menor | `5 < 3` (False)               |
| `>=`          | Mayor o igual que                                        | `5 >= 3` (True)               |
| `<=`          | Menor o igual que                                        | `5 <= 5` (True)               |
| `and`         | Operador lógico AND: Devuelve True si ambos son True     | `True and False` (False)      |
| `or`          | Operador lógico OR: Devuelve True si al menos uno es True| `True or False` (True)        |
| `not`         | Operador lógico NOT: Invierte el valor lógico            | `not True` (False)            |
| `is`          | Operador de identidad: Compara si dos objetos son el mismo| `x is y`                      |
| `in`          | Operador de pertenencia: Comprueba si un valor está en una secuencia | `'a' in 'abc'` (True)  |

In [144]:
x = 12
y = 8
x is y

False

In [145]:
# Ejemplos de python
0.3 == 0.1+0.1+0.1

False

In [146]:
None > 0

TypeError: '>' not supported between instances of 'NoneType' and 'int'

In [147]:
import math 

math.nan == math.nan

False

In [148]:
-0.0 == 0.0

True

In [149]:
"10"==10

False

In [150]:
[] == None

False

In [151]:
[] is None

False

In [152]:
type([])

list

## Tabla de verdad de `and` y `or` en Python

| A     | B     | A and B | A or B  |
| ----- | ----- | ------- | ------- |
| True  | True  | True    | True    |
| True  | False | False   | True    |
| False | True  | False   | True    |
| False | False | False   | False   |

In [153]:
x = True 
y = not True

In [154]:
x and y

False

In [155]:
0 and 0

0

Tipos de Variables en Python

## 1. Tipos básicos
1. ¿Qué tipo de dato corresponde a cada uno de los siguientes valores?
   - `25`
   - `3.14`
   - `"Hola"`

2. Explica la diferencia entre un `int` y un `float`.

---

## 2. Enteros (`int`)
1. Declara una variable llamada `edad` con valor `20`.  
   - ¿Qué tipo de dato es?  
   - ¿Qué pasa si intentas sumarle `5`?

2. Si defines `x = 7 // 2`, ¿qué resultado obtienes y de qué tipo es?

---

## 3. Flotantes (`float`)
1. Declara una variable `pi` con valor `3.1416`.  
   - ¿Qué pasa si multiplicas `pi * 2`?  

2. ¿Qué diferencia hay entre la división `/` y la división entera `//`?

---

## 4. Cadenas de texto (`string`)
1. Crea una variable `nombre = "Ana"`.  
   - ¿Qué sucede si haces `nombre * 3`?  
   - ¿Qué sucede si intentas `nombre + 5`?

2. ¿Cómo obtienes la primera letra de la cadena `"Mango"`?

---

Transformaciones y comparaciones de variables

## 1. Transformaciones de tipos
1. Convierte la variable `altura_str = "1.75"` (string) a un número decimal (`float`).  
   - ¿Qué pasa si intentas sumarle `0.25`?  

2. Tienes `numero = 10`.  
   - Transfórmalo a `string`.  
   - ¿Qué sucede si intentas hacer `"5" + str(numero)`?  
   - ¿Qué pasa si intentas `"5" + numero` sin transformar?  

---

## 2. Comparaciones básicas
1. Define `a = 7` y `b = 12`.  
   - Evalúa:  
     - `a < b`  
     - `a == b`  
     - `a != b`  
   - Explica con tus palabras qué significa cada comparación.  

2. Si `x = 3.5`, evalúa si `x > 2` y si `x == 3.5`.  

---

## 3. Problema sencillo: Comparando alturas
Un archivo guarda la altura de dos personas en **metros**, pero como cadenas de texto:

```python
h1 = "1.80"
h2 = "1.65"

- Convierte ambas alturas a float.

- Calcula cuál de las dos personas es más alta.


- Muestra un mensaje con el resultado, por ejemplo:

"La persona 1 es más alta" o
"La persona 2 es más alta".