# Expresiones

| **Tipo de Expresión** | **Operador** | **Ejemplo**       |
|-----------------------|--------------|-------------------|
| Addition              | `+`          | `2 + 3 = 5`       |
| Subtraction           | `-`          | `2 - 3 = -1`      |
| Multiplication        | `*`          | `2 * 3 = 6`       |
| Division              | `/`          | `7 / 3 = 2.66667` |
| Remainder (Modulo)    | `%`          | `7 % 3 = 1`       |
| Exponentiation        | `**`         | `2 ** 0.5 = 1.41421` |

In [5]:
2 + 3

5

In [6]:
2 - 3

-1

In [7]:
2*3

6

In [8]:
7/3

2.3333333333333335

In [9]:
7%3

1

In [10]:
2**10

1024

In [11]:
# Esto es un comentario

In [12]:
"hola mundo"

'hola mundo'

El orden de las operaciones importa en python
- Primero se raliza la multiplicación y división, despues las sumas y restas

In [13]:
2 + 3 * 4 / 2 - 1

7.0

In [14]:
5 + 3 * 2 / 2 - 1

7.0

In [15]:
(5 + 3) * (2 / (2 - 1))

16.0

# Nombres de variables

In [16]:
x = 4

In [17]:
x

4

In [18]:
print(x)

4

In [19]:
z

NameError: name 'z' is not defined

In [20]:
z = 10

In [21]:
x*Z

NameError: name 'Z' is not defined

In [22]:
x*z

40

In [23]:
total = x + z
total

14

In [24]:
precio_metro = 3.210
precio_metro

3.21

In [25]:
precio_metro = 3,210
precio_metro

(3, 210)

In [26]:
precio_metro = 3210
precio_metro

3210

In [27]:
precio_metro = 3210
precio_metro_semana_dos_viajes = 2 * 5 * precio_metro 
precio_metro_mes = precio_metro_semana_dos_viajes*4
precio_metro_mes

128400

# Funciones y llamado de expresiones

In [28]:
abs(-10)

10

In [29]:
g = -9.8
abs(g)

9.8

In [30]:
Temperature6am = 23
Temperature12m = 28

In [31]:
Temperature6am-Temperature12m

-5

In [32]:
abs(Temperature6am-Temperature12m)

5

In [33]:
min(10, 100)

10

In [34]:
max(10, 100)

100

In [35]:
round(3.14)

3

In [36]:
round(3.5)

4

In [37]:
import math

In [38]:
math.sqrt(10)

3.1622776601683795

In [39]:
round(math.sqrt(10))

3

In [40]:
y = math.sqrt(10)

In [41]:
math.sqrt(y)

1.7782794100389228

In [42]:
1 + 2 * (3 * 4 * 5 / 6) ** 3 + 7 + 8 - 9 + 10

2017.0

# Exponentes

In [44]:
2**(1/2)

1.4142135623730951

In [45]:
2E5

200000.0

In [46]:
2**5

32

**Pregunta 1.**

Escribe un programa en Python que calcule el costo total de los tiquetes de autobús durante un año, dada la tarifa diaria del autobús y el número de días que se utiliza el transporte cada semana. El programa debe ser parametrizable, es decir, el usuario debe poder ingresar la tarifa diaria y el número de días de uso por semana, además de poder ajustar la cantidad de semanas que se consideran en un año.

```python
tarifa_diaria = 3200

dias_por_semana = 5

semanas_por_ano = 52
```

In [48]:
"Escriba su solucion en esta celda...."

'Escriba su solucion en esta celda....'

**Pregunta 2.**
Supongamos que tenemos una bacteria que se divide cada hora, de modo que cada bacteria se convierte en dos. Queremos observar cómo crece la población de bacterias con el tiempo.

En un modelo simplificado el crecimiento de bacterias puede ser modelado con la siguiente ecuación:


\begin{equation}
P=P_0r^t
\end{equation}

**Nota** = En ambientes naturales o cultivos cerrados, este modelo solo es válido por un período limitado. Eventualmente, factores como la disminución de nutrientes, acumulación de desechos y limitaciones de espacio harán que el crecimiento se desacelere y finalmente se estabilice, lo cual requiere modelos más complejos como el modelo logístico para una descripción más precisa.


Construya un programa que permita determinar la poblacion de bacterias en la hora 0, en la hora 1 , en la hora 3, en la hora 4. Además determine el factor total de crecimiento acumulado durante ese intervalo de tiempo, emplee la siguiente ecuación:


\begin{equation}
c = P_{t+i}/P_{i}
\end{equation}

- ¿Cuál es el aumento de la población entre la hora 4 y la hora 3?


- ¿Cuál es el aumento de la población entre la hora 3 y la hora 2?

# Tablas

Funciones básicas

| **Método**                                  | **Descripción**                                                                 |
|---------------------------------------------|---------------------------------------------------------------------------------|
| `Table.read_table(file_path)`               | Lee un archivo CSV y devuelve una tabla.                                        |
| `table.show(n)`                             | Muestra las primeras `n` filas de la tabla.                                     |
| `table.with_columns(column1, values1, ...)` | Agrega una o más columnas nuevas a la tabla.                                    |
| `table.column(column_name)`                 | Devuelve los valores de una columna como un array de Numpy.                     |
| `table.num_columns()`                       | Devuelve el número de columnas en la tabla.                                     |
| `table.num_rows()`                          | Devuelve el número de filas en la tabla.                                        |
| `table.select(column_name1, column_name2)`  | Selecciona y devuelve una tabla con solo las columnas indicadas.                |
| `table.drop(column_name1, column_name2)`    | Elimina las columnas especificadas y devuelve una tabla nueva.                  |
| `table.where(column_name, predicate)`       | Filtra las filas según una condición en una columna específica.                 |
| `table.sort(column_name, descending=False)` | Ordena la tabla por una columna en orden ascendente o descendente.              |


<!-- 
| **Método**                                  | **Descripción**                                                                 |
|---------------------------------------------|---------------------------------------------------------------------------------|
| `table.group(column_name, func=sum)`        | Agrupa las filas por una columna, aplicando una función (por defecto, suma).    |
| `table.join(column_name_in_self, ...)`      | Une dos tablas en base a una columna común.                                     |
| `table.apply(function, column_name)`        | Aplica una función a todos los valores de una columna.                          |
| `table.pivot(column_name_for_values, ...)`  | Crea una tabla pivote en base a dos columnas.                                   |
| `table.scatter(column_for_x, column_for_y)` | Crea un gráfico de dispersión entre dos columnas.                               |
| `table.barh(column_for_categories, ...)`    | Crea un gráfico de barras horizontal.                                           |
| `table.hist(column_name)`                   | Crea un histograma de una columna.                                              |
| `table.plot(column_for_x, column_for_y)`    | Crea un gráfico de líneas entre dos columnas.                                   |
 -->

In [180]:
from datascience import *

tabla_frutas = Table().with_columns(
    'Fruta', ['Manzana', 'Banana', 'Naranja', 'Fresa', 'Uva', 'Piña', 'Mango', 'Kiwi', 'Melón', 'Cereza'],
    'Color', ['Rojo', 'Amarillo', 'Naranja', 'Rojo', 'Morado', 'Amarillo', 'Naranja', 'Verde', 'Verde', 'Rojo'],
    'Sabor', ['Dulce y ligeramente ácido', 'Dulce', 'Ácido y jugoso', 'Dulce y ligeramente ácido', 'Dulce', 'Ácido y tropical', 'Dulce y tropical', 'Ácido y fresco', 'Dulce y suave', 'Dulce'],
    "Precio",[2000, 400, 1000, 600 , 400, 6000, 3000, 3000, 7000, 3000]
)

In [181]:
tabla_frutas

Fruta   | Color    | Sabor                     | Precio
Manzana | Rojo     | Dulce y ligeramente ácido | 2000
Banana  | Amarillo | Dulce                     | 400
Naranja | Naranja  | Ácido y jugoso            | 1000
Fresa   | Rojo     | Dulce y ligeramente ácido | 600
Uva     | Morado   | Dulce                     | 400
Piña    | Amarillo | Ácido y tropical          | 6000
Mango   | Naranja  | Dulce y tropical          | 3000
Kiwi    | Verde    | Ácido y fresco            | 3000
Melón   | Verde    | Dulce y suave             | 7000
Cereza  | Rojo     | Dulce                     | 3000

In [182]:
tabla_frutas.show(3)

In [183]:
tabla_frutas.select("Fruta")

Fruta
Manzana
Banana
Naranja
Fresa
Uva
Piña
Mango
Kiwi
Melón
Cereza

In [184]:
tabla_frutas.drop("Sabor")

Fruta   | Color    | Precio
Manzana | Rojo     | 2000
Banana  | Amarillo | 400
Naranja | Naranja  | 1000
Fresa   | Rojo     | 600
Uva     | Morado   | 400
Piña    | Amarillo | 6000
Mango   | Naranja  | 3000
Kiwi    | Verde    | 3000
Melón   | Verde    | 7000
Cereza  | Rojo     | 3000

In [185]:
frutas_nosabor=tabla_frutas.drop("Sabor")

In [186]:
frutas_nosabor

Fruta   | Color    | Precio
Manzana | Rojo     | 2000
Banana  | Amarillo | 400
Naranja | Naranja  | 1000
Fresa   | Rojo     | 600
Uva     | Morado   | 400
Piña    | Amarillo | 6000
Mango   | Naranja  | 3000
Kiwi    | Verde    | 3000
Melón   | Verde    | 7000
Cereza  | Rojo     | 3000

In [187]:
tabla_frutas.sort("Precio")

Fruta   | Color    | Sabor                     | Precio
Banana  | Amarillo | Dulce                     | 400
Uva     | Morado   | Dulce                     | 400
Fresa   | Rojo     | Dulce y ligeramente ácido | 600
Naranja | Naranja  | Ácido y jugoso            | 1000
Manzana | Rojo     | Dulce y ligeramente ácido | 2000
Mango   | Naranja  | Dulce y tropical          | 3000
Kiwi    | Verde    | Ácido y fresco            | 3000
Cereza  | Rojo     | Dulce                     | 3000
Piña    | Amarillo | Ácido y tropical          | 6000
Melón   | Verde    | Dulce y suave             | 7000

In [188]:
tabla_frutas.sort("Precio", descending=True)

Fruta   | Color    | Sabor                     | Precio
Melón   | Verde    | Dulce y suave             | 7000
Piña    | Amarillo | Ácido y tropical          | 6000
Mango   | Naranja  | Dulce y tropical          | 3000
Kiwi    | Verde    | Ácido y fresco            | 3000
Cereza  | Rojo     | Dulce                     | 3000
Manzana | Rojo     | Dulce y ligeramente ácido | 2000
Naranja | Naranja  | Ácido y jugoso            | 1000
Fresa   | Rojo     | Dulce y ligeramente ácido | 600
Banana  | Amarillo | Dulce                     | 400
Uva     | Morado   | Dulce                     | 400

In [189]:
tabla_frutas.where("Color", "Amarillo")

Fruta  | Color    | Sabor            | Precio
Banana | Amarillo | Dulce            | 400
Piña   | Amarillo | Ácido y tropical | 6000

In [190]:
tabla_frutas.tail(2)

AttributeError: 'Table' object has no attribute 'tail'

# Más manejo de tablas
La siguiente tabla muestra los tamaños de animales de diferentes especies  tomadas y adaptada de [kaggle](https://www.kaggle.com/datasets/iamsouravbanerjee/animal-information-dataset/data)

In [130]:
tabla_animales = Table.read_table('Animales.csv')
tabla_animales = tabla_animales.drop("Unnamed: 0")

In [133]:
tabla_animales.show(10)

In [136]:
tabla_animales.select("Animal","Altura (cm)")

Animal                     | Altura (cm)
Cerdo Hormiguero           | 117.5
Lobo Terrícola             | 45
Elefante Africano          | 290
León Africano              | 95
Perro Salvaje Africano     | 77.5
Íbice Alpino               | 84
Rana de la Selva Amazónica | 7.5
Bisonte Americano          | 169
Oso Hormiguero             | 71.5
Caballo Árabe              | 150
... (168 rows omitted)

In [137]:
tabla_animales.sort("Altura (cm)")

Animal                     | Altura (cm) | Peso (kg) | Velocidad Promedio (km/h)
Rana Venenosa Dorada       | 4.5         | 2         | 0.3
Rana de Cristal            | 4.95        | 0         | 0.8
Pulpo Gigante del Pacífico | 5           | 25        | 24
Rana de la Selva Amazónica | 7.5         | 0         | 0.55
Pez Payaso                 | 8.5         | 175       | 8
Rata Topo Desnuda          | 9           | 80        | 0.055
Murciélago Vampiro         | 9           | 0         | 32
Colibrí                    | 10.25       | 11        | 60
Rata Canguro               | 11          | 0.0925    | 16
Ornitorrinco               | 12.5        | 1.55      | 5
... (168 rows omitted)

In [138]:
tabla_animales.sort("Altura (cm)", descending=True)

Animal             | Altura (cm) | Peso (kg) | Velocidad Promedio (km/h)
Morsa              | 3200        | 1200      | 40
Cachalote          | 2056        | 57000     | 60
Rinoceronte Blanco | 1850        | 2150      | 45
Tiburón Ballena    | 1800        | 1500      | 70
Ballena Jorobada   | 1700        | 30000     | 25.5
Titanoboa          | 1440        | 24950     | 27
Tiburón Peregrino  | 1100        | 550       | 21
Tiburón Blanco     | 670         | 2268      | 56
Tiburón Blanco     | 610         | 2268      | 56
Gavial             | 600         | 1500      | 32
... (168 rows omitted)

In [153]:
tabla_animales.show(20)

In [154]:
tabla_animales.where("Animal", "Oso")

Animal | Altura (cm) | Peso (kg) | Velocidad Promedio (km/h)