In [1]:
# Operaci√≥n suma

# Operaci√≥n flotante

# Operaciones con string

# Enteros

In [7]:
edad = 25        # un entero
cantidad = -100  # tambi√©n pueden ser negativos
print(type(edad))  # <class 'int'>

<class 'int'>

In [8]:
x = 10
y = 3
print(x + y)   # suma ‚Üí 13
print(x - y)   # resta ‚Üí 7
print(x * y)   # multiplicaci√≥n ‚Üí 30
print(x // y)  # divisi√≥n entera ‚Üí 3
print(x % y)   # m√≥dulo ‚Üí 1

13
7
30
3
1

# Decimales

In [9]:
pi = 3.1416
altura = 1.75
print(type(pi))  # <class 'float'>

<class 'float'>

In [10]:
a = 5.0
b = 2
print(a / b)   # divisi√≥n normal ‚Üí 2.5
print(a ** b)  # potencia ‚Üí 25.0

2.5
25.0

# Cadenas de texto (string)

In [11]:
nombre = "Ana"
saludo = 'Hola'
print(type(nombre))  # <class 'str'>

<class 'str'>

In [12]:
texto = "Python"
print(texto[0])       # acceso ‚Üí 'P'
print(texto[-1])      # √∫ltimo car√°cter ‚Üí 'n'
print(texto.upper())  # may√∫sculas ‚Üí 'PYTHON'
print(texto.lower())  # min√∫sculas ‚Üí 'python'
print(texto + " 3.10") # concatenaci√≥n ‚Üí 'Python 3.10'

P
n
PYTHON
python
Python 3.10

# Comparacion entre tipos

In [29]:
# int ‚Üí float
x = 5
print(float(x))   # 5.0

5.0

In [30]:
# float ‚Üí int
y = 3.9
print(int(y))     # 3 (trunca, no redondea)

3

In [31]:
# string ‚Üí int/float
numero = "42"
print(int(numero))    # 42

42

In [32]:
decimal = "3.14"
print(float(decimal)) # 3.14

3.14

In [33]:
# int/float ‚Üí string
z = 100
print(str(z))   # "100"

100

# üìù Ejercicio: Crear y usar variables en Python  

## Enunciado  
Crea tres variables en Python:  

- `nombre` (cadena de texto, ejemplo: `"Ana"`)  
- `edad` (n√∫mero entero, ejemplo: `15`)  
- `altura` (n√∫mero decimal, ejemplo: `1.60`)  

Con esas variables:  

1. Muestra el mensaje en pantalla:
   
   Ana tiene 15 a√±os y mide 1.60 metros.


2. Calcula y muestra:  
- La edad dentro de **2 a√±os**.  
- La altura en **cent√≠metros**.

# Comparaciones


# Operadores en Python

| Operador      | Descripci√≥n                                             | Ejemplo                       |
| ------------- | ------------------------------------------------------- | ----------------------------- |
| `==`          | Igual a: Compara si dos valores son iguales             | `5 == 5` (True)               |
| `!=`          | No igual a: Compara si dos valores no son iguales       | `5 != 3` (True)               |
| `>`           | Mayor que: Compara si el valor de la izquierda es mayor | `5 > 3` (True)                |
| `<`           | Menor que: Compara si el valor de la izquierda es menor | `5 < 3` (False)               |
| `>=`          | Mayor o igual que                                        | `5 >= 3` (True)               |
| `<=`          | Menor o igual que                                        | `5 <= 5` (True)               |
| `and`         | Operador l√≥gico AND: Devuelve True si ambos son True     | `True and False` (False)      |
| `or`          | Operador l√≥gico OR: Devuelve True si al menos uno es True| `True or False` (True)        |
| `not`         | Operador l√≥gico NOT: Invierte el valor l√≥gico            | `not True` (False)            |
| `is`          | Operador de identidad: Compara si dos objetos son el mismo| `x is y`                      |
| `in`          | Operador de pertenencia: Comprueba si un valor est√° en una secuencia | `'a' in 'abc'` (True)  |

In [34]:
x = 12
y = 8
x is y

False

In [35]:
# Ejemplos de python
0.3 == 0.1+0.1+0.1

False

In [36]:
None > 0

TypeError: '>' not supported between instances of 'NoneType' and 'int'

In [37]:
import math 

math.nan == math.nan

False

In [38]:
-0.0 == 0.0

True

In [39]:
"10"==10

False

In [40]:
[] == None

False

In [41]:
[] is None

False




| A     | B     | A and B | A or B  |
| ----- | ----- | ------- | ------- |
| True  | True  | True    | True    |
| True  | False | False   | True    |
| False | True  | False   | True    |
| False | False | False   | False   |

In [42]:
x = True 
y = not True

In [43]:
0 and 0

0

# Secuencias

##  Arreglos

In [46]:
from datascience import *
make_array(1, 2,2, 3, )

array([1, 2, 2, 3])

In [47]:
# Multiplicaci√≥n, divisi√≥n

In [48]:
type(make_array(1, 2,2, 3, ))

numpy.ndarray

In [49]:
temperatura = make_array(23, 25, 26, 28, )

Pasemos los valores de temperatura a kelvin

In [50]:
temperatura + 273

array([296, 298, 299, 301])

In [51]:
q = make_array("hola", "mundo")
q

array(['hola', 'mundo'],
      dtype='<U5')

## Funciones sobre arreglos

Tomado de [data 8 book](https://inferentialthinking.com/chapters/05/1/Arrays.html)

## Tabla 1: Funciones de agregaci√≥n

| Funci√≥n           | Descripci√≥n                                                     |
|-------------------|-----------------------------------------------------------------|
| `np.prod`         | Multiplica todos los elementos                                  |
| `np.sum`          | Suma todos los elementos                                        |
| `np.all`          | Verifica si todos los elementos son verdaderos (n√∫meros diferentes de 0 son verdaderos) |
| `np.any`          | Verifica si alguno de los elementos es verdadero (n√∫meros diferentes de 0 son verdaderos) |
| `np.count_nonzero`| Cuenta el n√∫mero de elementos diferentes de cero                |



## Tabla 2: Funciones de transformaci√≥n num√©rica

| Funci√≥n           | Descripci√≥n                                                     |
|-------------------|-----------------------------------------------------------------|
| `np.diff`         | Diferencia entre elementos adyacentes                            |
| `np.round`        | Redondea cada n√∫mero al entero m√°s cercano                       |
| `np.cumprod`      | Producto acumulado: para cada elemento, multiplica todos los elementos hasta ese punto |
| `np.cumsum`       | Suma acumulada: para cada elemento, suma todos los elementos hasta ese punto |
| `np.exp`          | Eleva cada elemento a la exponencial                             |
| `np.log`          | Aplica el logaritmo natural a cada elemento                      |
| `np.sqrt`         | Calcula la ra√≠z cuadrada de cada elemento                        |
| `np.sort`         | Ordena los elementos                                             |


## Tabla 3: Funciones para manipulaci√≥n de strings

| Funci√≥n            | Descripci√≥n                                                    |
|--------------------|----------------------------------------------------------------|
| `np.char.lower`     | Convierte cada elemento a min√∫sculas                           |
| `np.char.upper`     | Convierte cada elemento a may√∫sculas                           |
| `np.char.strip`     | Elimina espacios al principio o al final de cada elemento      |
| `np.char.isalpha`   | Verifica si cada elemento contiene solo letras (sin n√∫meros ni s√≠mbolos) |
| `np.char.isnumeric` | Verifica si cada elemento contiene solo n√∫meros (sin letras)   |



## Tabla 4: Funciones de b√∫squeda en strings

| Funci√≥n             | Descripci√≥n                                                  |
|---------------------|--------------------------------------------------------------|
| `np.char.count`      | Cuenta cu√°ntas veces aparece una cadena de b√∫squeda en los elementos del arreglo |
| `np.char.find`       | Devuelve la posici√≥n en la que se encuentra la cadena de b√∫squeda por primera vez en cada elemento |
| `np.char.rfind`      | Devuelve la posici√≥n en la que se encuentra la cadena de b√∫squeda por √∫ltima vez en cada elemento |
| `np.char.startswith` | Verifica si cada elemento comienza con la cadena de b√∫squeda |

In [53]:
import numpy as np

In [54]:
make_array(...)

array([Ellipsis], dtype=object)

In [56]:
q=make_array("por la", "libertad")
np.char.upper(q)

array(['POR LA', 'LIBERTAD'],
      dtype='<U8')

# Aumento de la presi√≥n con la profundidad

Al bucear, la presi√≥n experimentada aumenta a medida que se incrementa la profundidad. Este aumento de presi√≥n puede modelarse con la siguiente ecuaci√≥n:

\begin{equation}
P = P_0 + \rho g h
\end{equation}

Donde:
- $P$ es la presi√≥n total a una determinada profundidad.
- $P_0$ es la presi√≥n atmosf√©rica a nivel del mar: 1atm es 101.325 pascales (Pa)
- $\rho$ es la densidad del agua (aproximadamente 1000 kg/m¬≥ para agua dulce).
- $g$ es la aceleraci√≥n gravitacional (aproximadamente 9.81 m/s¬≤).
- $h$ es la profundidad en metros.

Calcular la presi√≥n en atm√≥sferas para las siguientes profundidades:

```
h = 0, 10, 20, 30, 40, 50 m
```

Determinar el aumento diferencial de presi√≥n, es decir hacer el c√°lculo de la diferencia entre el primer y segundo valor, entre el tercero y segundo y asi sucesivamente: emplea `np.diff`

In [62]:
np.diff(h)

array([10, 10, 10, 10, 10])

In [63]:
notas = make_array(2.5, 4.5, 5.0)
promedio = np.sum(notas)/len(notas)
promedio

4.0

In [64]:
promedio = np.mean(notas)
promedio

4.0

# Rangos

Enfatizar en la diferencia entre diferentes tipos de datos y los rangos

In [65]:
u = np.arange(5)
u

array([0, 1, 2, 3, 4])

In [66]:
u.take(2)

2

## Leibniz's Formula for Pi

La f√≥rmula de Leibniz para calcular $\pi$ es una serie infinita alternada que converge hacia $\pi$ cuando se multiplica por 4. Se puede expresar de la siguiente manera:

\begin{equation}
\frac{\pi}{4} = 1 - \frac{1}{3} + \frac{1}{5} - \frac{1}{7} + \frac{1}{9} - \frac{1}{11} + \cdots
\end{equation}

Tambi√©n se puede reorganizar la f√≥rmula separando los t√©rminos positivos y negativos en dos series distintas:

\begin{equation}
\frac{\pi}{4} = \left( 1 + \frac{1}{5} + \frac{1}{9} + \cdots \right) - \left( \frac{1}{3} + \frac{1}{7} + \frac{1}{11} + \cdots \right)
\end{equation}

Esta f√≥rmula es una representaci√≥n elegante de $\pi$,  aunque su convergencia es relativamente lenta.

¬øCalcular el valor de pi?

In [52]:
tabla_periodica = Table().with_columns( ["temperatura", ["Si", "K", "Fe", "Co"], "NumeroAtomico", [14,19,26,27] ])
tabla_periodica.take(range(1, 2))

temperatura | NumeroAtomico
K           | 19

In [54]:
tabla_periodica.select("NumeroAtomico")

NumeroAtomico
14
19
26
27

In [55]:
tabla_periodica.column("NumeroAtomico")

array([14, 19, 26, 27])

#  Repaso de tablas

| **M√©todo**                                  | **Descripci√≥n**                                                                 |
|---------------------------------------------|---------------------------------------------------------------------------------|
| `Table.read_table(file_path)`               | Lee un archivo CSV y devuelve una tabla.                                        |
| `table.show(n)`                             | Muestra las primeras `n` filas de la tabla.                                     |
| `table.with_columns(column1, values1, ...)` | Agrega una o m√°s columnas nuevas a la tabla.                                    |
| `table.column(column_name)`                 | Devuelve los valores de una columna como un array de Numpy.                     |
| `table.num_columns()`                       | Devuelve el n√∫mero de columnas en la tabla.                                     |
| `table.num_rows()`                          | Devuelve el n√∫mero de filas en la tabla.                                        |
| `table.select(column_name1, column_name2)`  | Selecciona y devuelve una tabla con solo las columnas indicadas.                |
| `table.drop(column_name1, column_name2)`    | Elimina las columnas especificadas y devuelve una tabla nueva.                  |
| `table.where(column_name, predicate)`       | Filtra las filas seg√∫n una condici√≥n en una columna espec√≠fica.                 |
| `table.sort(column_name, descending=False)` | Ordena la tabla por una columna en orden ascendente o descendente.              |

## Creacion de una tabla 
Supongamos que queremos construir una tabla con las distancia al sol,  y la masa de cada planeta.

| Planeta    | Distancia al Sol (UA) | Masa (Unidades de masas terrestres) |
|------------|-----------------------|-------------------------------------|
| Mercurio   | 0.39                  | 0.055                              |
| Venus      | 0.72                  | 0.815                              |
| Tierra     | 1.00                  | 1.000                              |
| Marte      | 1.52                  | 0.107                              |
| J√∫piter    | 5.20                  | 317.8                              |
| Saturno    | 9.58                  | 95.2                               |
| Urano      | 19.22                 | 14.5                               |
| Neptuno    | 30.05                 | 17.1                               |

Nota:  
- 1 UA ‚âà 149.6 millones de kil√≥metros
- 5.97 √ó 10¬≤‚Å¥ kilogramos.

Las siguientes celdas contiene la informaci√≤n par no copiar todos los datos: 

```python 
distancias_ua = [0.39, 0.72, 1.00, 1.52, 5.20, 9.58, 19.22, 30.05]
```

```python 
masas_terrestres = [0.055, 0.815, 1.000, 0.107, 317.8, 95.2, 14.5, 17.1]
```

In [56]:
from  datascience import *

In [57]:
# Construyendo la tabla
Table().with_columns(["Planeta", ["Mercurio", "Venus", "Tierra", "Marte", "J√∫piter", "Saturno", "Urano", "Neptuno"],
                      "DistanciaSol", [0.39, 0.72, 1.00, 1.52, 5.20, 9.58, 19.22, 30.05],
                      "Masa", [0.055, 0.815, 1.000, 0.107, 317.8, 95.2, 14.5, 17.1],                     
                     ])

Planeta  | DistanciaSol | Masa
Mercurio | 0.39         | 0.055
Venus    | 0.72         | 0.815
Tierra   | 1            | 1
Marte    | 1.52         | 0.107
J√∫piter  | 5.2          | 317.8
Saturno  | 9.58         | 95.2
Urano    | 19.22        | 14.5
Neptuno  | 30.05        | 17.1

In [62]:
# Almacenado la tabla en una variable
planetas=Table().with_columns(["Nombre", ["Mercurio", "Venus", "Tierra", "Marte", "J√∫piter", "Saturno", "Urano", "Neptuno"],
                      "DistanciaSol", [0.39, 0.72, 1.00, 1.52, 5.20, 9.58, 19.22, 30.05],
                      "Masa", [0.39, 0.72, 1.00, 1.52, 5.20, 9.58, 19.22, 30.05],                     
                     ])
planetas

Nombre   | DistanciaSol | Masa
Mercurio | 0.39         | 0.39
Venus    | 0.72         | 0.72
Tierra   | 1            | 1
Marte    | 1.52         | 1.52
J√∫piter  | 5.2          | 5.2
Saturno  | 9.58         | 9.58
Urano    | 19.22        | 19.22
Neptuno  | 30.05        | 30.05

##¬†table.take
## table.show

In [63]:
planetas.take(0)

Nombre   | DistanciaSol | Masa
Mercurio | 0.39         | 0.39

In [64]:
planetas.select("Nombre")

Nombre
Mercurio
Venus
Tierra
Marte
J√∫piter
Saturno
Urano
Neptuno

In [65]:
planetas.labels

('Nombre', 'DistanciaSol', 'Masa')

In [66]:
planetas.rows

Rows(Nombre   | DistanciaSol | Masa
Mercurio | 0.39         | 0.39
Venus    | 0.72         | 0.72
Tierra   | 1            | 1
Marte    | 1.52         | 1.52
J√∫piter  | 5.2          | 5.2
Saturno  | 9.58         | 9.58
Urano    | 19.22        | 19.22
Neptuno  | 30.05        | 30.05)

In [67]:
len(planetas)

3

In [68]:
planetas.sort("Masa", descending=False)

Nombre   | DistanciaSol | Masa
Mercurio | 0.39         | 0.39
Venus    | 0.72         | 0.72
Tierra   | 1            | 1
Marte    | 1.52         | 1.52
J√∫piter  | 5.2          | 5.2
Saturno  | 9.58         | 9.58
Urano    | 19.22        | 19.22
Neptuno  | 30.05        | 30.05

In [69]:
planetas.drop("Masa")

Nombre   | DistanciaSol
Mercurio | 0.39
Venus    | 0.72
Tierra   | 1
Marte    | 1.52
J√∫piter  | 5.2
Saturno  | 9.58
Urano    | 19.22
Neptuno  | 30.05

# Lectura de tablas

1. Muestra los 10 primeros valores de la tabla

2. Selecciona las columnas "Animal" y "Velocidad Promedio (km/h)"

3. Determina el animal que tiene mayor peso

In [74]:
animals = Table().read_table("Animales_.csv")
animals

Unnamed: 0 | Animal                     | Altura (cm) | Peso (kg) | Velocidad Promedio (km/h)
0          | Cerdo Hormiguero           | 117.5       | 52.5      | 40
1          | Lobo Terr√≠cola             | 45          | 11        | 27
2          | Elefante Africano          | 290         | 4350      | 25
3          | Le√≥n Africano              | 95          | 185       | 58
4          | Perro Salvaje Africano     | 77.5        | 27        | 56
5          | √çbice Alpino               | 84          | 69.5      | 60
6          | Rana de la Selva Amaz√≥nica | 7.5         | 0         | 0.55
7          | Bisonte Americano          | 169         | nan       | 48
8          | Oso Hormiguero             | 71.5        | 31.5      | 24
9          | Caballo √Årabe              | 150         | 690       | 65
... (168 rows omitted)

In [75]:
animales = animals.drop("Unnamed: 0")
animales

Animal                     | Altura (cm) | Peso (kg) | Velocidad Promedio (km/h)
Cerdo Hormiguero           | 117.5       | 52.5      | 40
Lobo Terr√≠cola             | 45          | 11        | 27
Elefante Africano          | 290         | 4350      | 25
Le√≥n Africano              | 95          | 185       | 58
Perro Salvaje Africano     | 77.5        | 27        | 56
√çbice Alpino               | 84          | 69.5      | 60
Rana de la Selva Amaz√≥nica | 7.5         | 0         | 0.55
Bisonte Americano          | 169         | nan       | 48
Oso Hormiguero             | 71.5        | 31.5      | 24
Caballo √Årabe              | 150         | 690       | 65
... (168 rows omitted)

# Operacion sobre tablas


## Predicados

| Predicado                     | Descripci√≥n                                                  |
| ------------------------------| ------------------------------------------------------------ |
| `are.equal_to(Z)`              | Igual a Z                                                    |
| `are.above(x)`                 | Mayor que x                                                  |
| `are.above_or_equal_to(x)`     | Mayor o igual a x                                            |
| `are.below(x)`                 | Menor que x                                                  |
| `are.below_or_equal_to(x)`     | Menor o igual a x                                            |
| `are.between(x, y)`            | Mayor o igual a x y menor que y                              |
| `are.strictly_between(x, y)`   | Mayor que x y menor que y                                    |
| `are.between_or_equal_to(x, y)`| Mayor o igual a x y menor o igual a y                        |
| `are.containing(S)`            | Contiene la cadena de texto S                                |

## Predicados Negados

Puedes especificar la negaci√≥n de cualquiera de estas condiciones utilizando `.not_` antes del predicado:

| Predicado Negado               | Descripci√≥n                                                  |
| ------------------------------| ------------------------------------------------------------ |
| `are.not_equal_to(Z)`          | No igual a Z                                                 |
| `are.not_above(x)`             | No mayor que x                                               |

In [76]:
animales.where("Altura (cm)", are.above(100))

Animal                       | Altura (cm) | Peso (kg) | Velocidad Promedio (km/h)
Cerdo Hormiguero             | 117.5       | 52.5      | 40
Elefante Africano            | 290         | 4350      | 25
Bisonte Americano            | 169         | nan       | 48
Caballo √Årabe                | 150         | 690       | 65
Arowana                      | 120         | 6         | 24
Elefante Asi√°tico            | 250         | 3500      | 40
Delf√≠n Moteado del Atl√°ntico | 225         | 130       | 52
Foca de Pelo Australiana     | 136         | 29        | 32
Tibur√≥n Peregrino            | 1100        | 550       | 21
Rinoceronte Negro            | 156         | nan       | 56
... (56 rows omitted)

In [78]:
animales.where('Velocidad Promedio (km/h)', are.equal_to(48))

Animal            | Altura (cm) | Peso (kg) | Velocidad Promedio (km/h)
Bisonte Americano | 169         | nan       | 48
Tapir de Baird    | 91.5        | 275       | 48
Oso Pardo         | 95          | 425       | 48
Zorro Rojo        | 42.5        | 5         | 48
Tapir             | 95          | 275       | 48

In [79]:
animales.where('Velocidad Promedio (km/h)', are.between(40,40))

Animal                | Altura (cm) | Peso (kg) | Velocidad Promedio (km/h)
Cerdo Hormiguero      | 117.5       | 52.5      | 40
Elefante Asi√°tico     | 250         | 3500      | 40
Frailecillo Atl√°ntico | 27.5        | 560       | 40
Zorro de Bengala      | 37.5        | 3.25      | 40
Ballena Azul          | 33          | 200       | 40
Chimpanc√©             | 160         | 48        | 40
Gorila del Este       | 164         | 138.5     | 40
Camar√≥n Mantis        | 30          | 2         | 40
Gorila de Monta√±a     | 160         | 135       | 40
Oso Polar             | 160         | 700       | 40
... (5 rows omitted)

In [80]:
animales.where('Animal', are.containing('Tibur√≥n'))

Animal                      | Altura (cm) | Peso (kg) | Velocidad Promedio (km/h)
Tibur√≥n Peregrino           | 1100        | 550       | 21
Tibur√≥n Duende              | 320         | 210       | 2.3
Tibur√≥n Blanco              | 610         | 2268      | 56
Tibur√≥n Blanco              | 670         | 2268      | 56
Tibur√≥n Mako de Aleta Corta | 394         | 800       | 45
Tibur√≥n Ballena             | 1800        | 1500      | 70
Tibur√≥n Cebra               | 330         | 32        | 20

In [81]:
animales.sort("Velocidad Promedio (km/h)", descending = True)

Animal                   | Altura (cm) | Peso (kg) | Velocidad Promedio (km/h)
√Åguila Calva             | 86          | 4.5       | 120
Guepardo                 | 80          | 46        | 112
Berrendo                 | 92.5        | 55        | 88.5
B√∫ho Nival               | 61.5        | 2.45      | 80
Lince Ib√©rico            | 65          | 11.5      | 75
Camar√≥n Mantis Pavo Real | 18          | 0         | 72
Tibur√≥n Ballena          | 1800        | 1500      | 70
Caballo √Årabe            | 150         | 690       | 65
Tigre de Bengala         | 100         | 240       | 65
Perro B√≥xer              | 58          | 28.5      | 64
... (168 rows omitted)

In [88]:
animales.select("Animal")

Animal
Cerdo Hormiguero
Lobo Terr√≠cola
Elefante Africano
Le√≥n Africano
Perro Salvaje Africano
√çbice Alpino
Rana de la Selva Amaz√≥nica
Bisonte Americano
Oso Hormiguero
Caballo √Årabe
... (168 rows omitted)

In [89]:
animales.column("Animal")

array(['Cerdo Hormiguero', 'Lobo Terr√≠cola', 'Elefante Africano',
       'Le√≥n Africano', 'Perro Salvaje Africano', '√çbice Alpino',
       'Rana de la Selva Amaz√≥nica', 'Bisonte Americano', 'Oso Hormiguero',
       'Caballo √Årabe', '√ìrix √Årabe', 'Zorro √Årtico', 'Arowana',
       'Elefante Asi√°tico', 'Frailecillo Atl√°ntico',
       'Delf√≠n Moteado del Atl√°ntico', 'Foca de Pelo Australiana',
       'Ajolote', 'Aye-Aye', 'Tapir de Baird', '√Åguila Calva',
       'Civeta de Palma Banded', 'Macaco de Berber√≠a', 'Tibur√≥n Peregrino',
       'Drag√≥n Barbudo', 'Zorro de Bengala', 'Tigre de Bengala',
       'Rinoceronte Negro', 'Arrendajo Azul', 'Ballena Azul',
       'Piquero de Patas Azules', 'Bonobo', 'Orangut√°n de Borneo',
       'Delf√≠n Nariz de Botella', 'Perro B√≥xer', 'Oso Pardo',
       'Pit√≥n Birmana', 'Capibara', 'Guepardo', 'Chimpanc√©', 'Pez Payaso',
       'Celacanto', 'Delf√≠n Com√∫n', 'Sifaca de Coquerel', 'Perro D√°lmata',
       'Cu√≥n', 'Dingo', 'Dugongo', 'Gorila del Este', 'Equidna',
       'Ping√ºino Emperador', 'Tit√≠ Emperador', 'Erizo Europeo',
       'Zorro Fennec', 'Salamandra Com√∫n', 'Zorro Volador', 'Fosa',
       'Lagarto con Volante', 'Gal√É¬°pagos Penguin',
       'Ping√ºino de Gal√°pagos', 'Tortuga de Gal√°pagos', 'Gaur', 'Gerenuc',
       'Gavial', 'Pulpo Gigante del Pac√≠fico', 'Panda Gigante',
       'Monstruo de Gila', 'Rana de Cristal', 'Tibur√≥n Duende',
       'Tit√≠ Le√≥n Dorado', 'Rana Venenosa Dorada', 'Tibur√≥n Blanco',
       'Tibur√≥n Blanco', 'Tortuga Marina Verde', 'Tortuga Marina Verde',
       'Cebra de Grevy', 'Pez Bruja', 'Foca Arpa', '√Åguila Arp√≠a',
       'Hipop√≥tamo', 'Cangrejo Herradura', 'Colibr√≠', 'Ballena Jorobada',
       'Lince Ib√©rico', 'Indri', 'Avisp√≥n Gigante Japon√©s',
       'Macaco Japon√©s', 'Kakapo', 'Rata Canguro', 'Cobra Real', 'Kiwi',
       'Drag√≥n de Komodo', 'Geco de Cola de Hoja', 'L√©mur', 'L√©mur',
       'Macaco Cola de Le√≥n', 'Ave Lira', 'Manat√≠', 'Mandril',
       'Lobo de Crin', 'Camar√≥n Mantis', 'Markhor', 'Suricata',
       'Gorila de Monta√±a', 'Rata Topo Desnuda', 'Narval', 'Numbat',
       'Okapi', 'Okapi', 'Orangut√°n', 'Pangol√≠n', 'Mara Patag√≥nica',
       'Camar√≥n Mantis Pavo Real', 'Armadillo Hada Rosa', 'Ornitorrinco',
       'Oso Polar', 'Potoo', 'Mantis Religiosa', 'Mono Narigudo',
       'Berrendo', 'Pez Globo', 'Quokka', 'Zorro Rojo', 'Canguro Rojo',
       'Panda Rojo', 'Rottweiler', 'Saola', 'Ave Secretaria', 'Serval',
       'Picozapato', 'Tibur√≥n Mako de Aleta Corta', 'Husky Siberiano',
       'Perezoso', 'Leopardo de las Nieves', 'B√∫ho Nival',
       'Oso de Anteojos', 'Cachalote', 'Mono Ara√±a', 'Hiena Manchada',
       'Mono Ardilla', 'Topo de Nariz Estrellada', 'Orangut√°n de Sumatra',
       'Rinoceronte de Sumatra', 'Sumatran Rhinoceros', 'Sumatran Tiger',
       'Oso Malayo', 'Tapir', 'Tarsero', 'Diablo de Tasmania',
       'Tasmanian Tiger', 'Diablo Espinoso', 'Perezoso de Tres Dedos',
       'Mast√≠n Tibetano', 'Tigre', 'Titanoboa', 'Tuc√°n Toco',
       'Canguro Arbor√≠cola', 'Tuatara', 'Tufted Puffin', 'Uakari',
       'Murci√©lago Vampiro', 'Morsa', 'Jabal√≠ Verrugoso', 'B√∫falo de Agua',
       'Gorila Occidental', 'Western Lowland Gorilla', 'Tibur√≥n Ballena',
       'Rinoceronte Blanco', 'Tigre Blanco', 'Jabal√≠', '√ëu', 'Lobo',
       'Glot√≥n', 'Wombat', 'Yak', 'Ping√ºino de Ojos Amarillos', 'Cebra',
       'Tibur√≥n Cebra'],
      dtype='<U28')

Tarea de calse : Encontrar los osos cuya peso sea mayor a 100Kg

# M√°s de tablas

¬øCu√°l es la diferencia entre `select` y `column`, como nos podemos dar cuenta del tipo dato con lo que debemos trabajar?

Miremos la siguiente tabla analizando el n√∫mero de at√≥mico de algunos elementos qu√≠micos 

`El n√∫mero at√≥mico` es la cantidad de protones que se encuentran en el n√∫cleo de un √°tomo de un elemento qu√≠mico. 


```python
elementos = ["Hidr√≥geno", "Helio", "Litio", "Berilio", "Boro", "Carbono", "Nitr√≥geno", "Ox√≠geno", "Fl√∫or", "Ne√≥n"]
numeros_atomicos = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


tabla_elementos = pd.DataFrame({
    "Elemento": elementos,
    "N√∫mero At√≥mico": numeros_atomicos
})
```